.header {
    /* align-items: center; */
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    /* background-color: #26418f; */
    color: #007bff;
    padding: 15px 0px;
}

.name {
    cursor: pointer;
}

.id {
    cursor: pointer;
}

.pageTitleContainer {
    background-color: #ffffff !important;
    padding: 5px 0px;
}